/* Apply height and width of 100% to html, body, and #root elements to ensure they take up the full viewport. 
   Prevent any overflow content from being displayed by hiding it. */
html,
body,
#root {
  height: 100%; /* Set height to 100% of the viewport */
  width: 100%; /* Set width to 100% of the viewport */
  overflow: hidden; /* Hide any content that overflows */
}

/* Style the body element to use the system default UI font and remove default margin */
body {
  font-family: 'Times New Roman', serif; /* Use the system's default UI font for text */
  margin: 0; /* Remove the default margin */
}

/* Apply box-sizing: border-box to all elements, including their :after and :before pseudo-elements.
   This makes width and height include padding and border, but not margin. */
*,
*:after,
*:before {
  box-sizing: border-box; /* Include padding and border in the element's width and height */
}

h1 {
  font-size: 10vw; /* 4% of the viewport width */
}
